body{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: rgb(156, 243, 243);
    padding: 20px;
    border-radius: 15px;
}
.hero-image {
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.box {
     background-color: #7ab8dd;
    border: 3px solid #000000;
    padding: 15px;
    margin: 10px;
    text-align: left;
    width: 250px;        
    display: inline-block; 
    vertical-align: top;
}